Options +FollowSymlinks

RewriteEngine On 


RewriteRule ^inscription$  Vues/Inscription.php? [L]

RewriteRule ^board$  Controleurs/ControlUser.php [L]

RewriteRule ^livres$  Vues/BooksListPage.php? [L]

RewriteRule ^livres1$  Vues/BookInfosByTitrePage.php [L]

RewriteRule ^newB$  Controleurs/ControlCreateBook.php [L]

RewriteRule ^confirmU$  Vues/ConfirmUserPage.php [L]

RewriteRule ^searchU$  Controleurs/ControlSearchUser.php [L]

RewriteRule ^user$  Vues/ReadUserPage.php [L]

