@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.menu {
    margin-top: 1vh;
    margin-left: 3vw;
}

.btnmenu {
    background-color: #ffa500;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    width: 20vw;
    font-size: 4vw;
}

a {
    font-family: 'Architects Daughter', cursive;
    font-size: 3.8vw;
}

.title {
    height: auto;
    background-color: #4e95d8;
    margin: 1vw;
}

h1 {
    color: rgb(255, 251, 0);
    font-family: 'Architects Daughter', cursive;
    font-size: 6vw;
    margin-top: 8vw;
    margin-left: 12vw;
}

input {
    width:50vw;
    height: 5vh;
    font-size: 3vw;
    font-family: 'Architects Daughter', cursive;
    padding-left: 0.5vw;
    color: black;
}

.button1 {
    background-color: orange;
    color: white;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    font-size: 4vw;
    width: 35vw;
    height: 5vh;
}

.little {
    font-size: 6vw;
    font-family: 'Architects Daughter', cursive;
    margin-top: 3vh;
    color: #4e95d8;
}

.button2 {
    background-color: #ffa500;
    color: white;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    font-size: 3vw;
    width: 20vw;
    height: 4vh;
}

.infos {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vw;
    font-weight: 300;
}

.suggestion:hover {
    background-color: cornflowerblue;
    color: white
}

.logout {
    font-size: 5vw;
}